<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>라인 친구 목록</title>
  <link rel="stylesheet" th:href="@{/css/friendlist.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="content">
    <h2 class="page-title">전체 라인 친구</h2>
    <p class="description">서비스 구매여부와 관계 없이 마미톡 라인 계정을 친구추가한 전체 사용자 목록</p>

    <table class="user-table">
      <thead>
      <tr>
        <th>라인ID</th>
        <th>휴대폰번호</th>
        <th>친구추가일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${friends}">
        <td width="40%" th:text="${user.lineId}">xxxxx</td>
        <td width="20%" ondblclick="enableEdit(this)" th:data-phone-number="${user.phoneNumber}"
            th:data-user-id="${user.id}" th:text="${user.phoneNumber}">010-1234-1234
        </td>
        <td width="20%" th:text="${#temporals.format(user.joinDate, 'yyyy.MM.dd HH:mm')}">2025.02.01 12:00</td>
      </tr>
      </tbody>
    </table>

    <form class="search-bar"
          method="get"
          th:action="@{/admin/channels/{channelId}/friends/list(channelId=${channelInfo.id})}">
      <input name="query" placeholder="검색어를 입력하세요" type="text"/>
      <button type="submit">검색</button>
    </form>

    <!-- 페이징 -->
    <div th:replace="~{fragments/pagination :: pagination(pagingInfo=${pagingInfo}, requestUrl=${currentPath})}"></div>
  </div>
</div>
<script th:src="@{/js/friend-list.js}"></script>
</body>
</html>