<!-- sidebar.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
  <aside class="sidebar">
    <div class="sidebar-title">
      <a th:href="@{/admin}"  th:text="${channelInfo.name}">Mommytalk english</a>
    </div>
    <nav class="sidebar-menu">
      <ul>
        <li class="menu-section">메시지</li>
        <li class="menu-item" 
            th:classappend="${currentPath == '/admin/channels/' + channelInfo.id + '/messages'} ? 'active'">
          <a th:href="@{/admin/channels/{channelId}/messages(channelId=${channelInfo.id})}"><span>메시지 보내기</span></a>
        </li>
        <li class="menu-item"
            th:classappend="${currentPath == '/admin/channels/' + channelInfo.id + '/messages/list'} ? 'active'">
          <a th:href="@{/admin/channels/{channelId}/messages/list(channelId=${channelInfo.id})}"><span>메시지 목록</span></a>
        </li>
        <li class="menu-section">친구 그룹</li>
        <li class="menu-item"
            th:classappend="${currentPath == '/admin/channels/' + channelInfo.id + '/friends/list'} ? 'active'">
          <a th:href="@{/admin/channels/{channelId}/friends/list(channelId=${channelInfo.id})}"><span>전체 라인 친구</span></a>
        </li>
        <li class="menu-item"
            th:classappend="${currentPath == '/admin/channels/' + channelInfo.id + '/groups/list'} ? 'active'">
          <a th:href="@{/admin/channels/{channelId}/groups/list(channelId=${channelInfo.id})}"><span>구매자 그룹</span></a>
        </li>
        <li class="menu-section">테스트 설정</li>
        <li class="menu-item"
            th:classappend="${currentPath == '/admin/channels/' + channelInfo.id + '/test/user'} ? 'active'">
          <a th:href="@{/admin/channels/{channelId}/test/user(channelId=${channelInfo.id})}"><span>테스트 발송 대상 설정</span></a>
        </li>
        <li class="menu-item"
            th:classappend="${currentPath == '/admin/channels/' + channelInfo.id + '/invite-message'} ? 'active'">
          <a th:href="@{/admin/channels/{channelId}/invite-message(channelId=${channelInfo.id})}"><span>초대 메시지 설정</span></a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
</body>
</html>